@page 
@{
    ViewData["Title"] = "Home - Recherche Information";
}

<div class="text-center">
    <h1 class="display-4 text-white">Recherche Information</h1>
    <p class="lead text-white">Select a model to explore:</p>

    <!-- Links to the models -->
    <div class="model-links">
        <a href="/VectorModel" class="btn btn-lg btn-primary m-3">Vector Model</a>
        <a href="/BooleanModel" class="btn btn-lg btn-primary m-3">Boolean Model</a>
        <a href="/WeightedBoolean" class="btn btn-lg btn-primary m-3">Weighted Boolean</a>
    </div>
</div>

